* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
  
p h1 h3 {
    font-family: Helvetica, Arial, sans-serif, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background: linear-gradient(0deg, rgba(250, 250, 250, 0.637) 0%, #fff);
}

/* Style the top navigation bar */
.navbar {
    overflow: auto;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex; /* Used to be flex */
  
    background: linear-gradient(0deg, rgb(250, 250, 250) 0%, #fff);
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.4);
    border-top: 3px solid #e03428;
    
    z-index: 1;
}

/* Style the navigation bar links */
.navbar a {
    /*color: #333; */
    color: #543d22;
    font-family: Helvetica, Arial, sans-serif;
    border-right: 1px solid #ddd;
  
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  
    margin-top: auto;
    margin-bottom: auto;
}
  
  .navbar img {
    padding: 0px;
    height: 40px;
    display: block;
    margin: 6px 2px 2px 6px;
    
    width: fit;
}
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #eee;
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.4);
}
  
  .navbar a > img #logo_icon {
    height: 400px;
    width: 400px;
    display: block;
    margin: 6px 2px 2px 6px;
    
}

.header {
    padding: 50px;
    max-height: 450px;
  
    text-align: center;
    background: linear-gradient(17deg, #f64106 0%, #f78212 10%, #d77d85 30%, #372c92 100%);
    color: #333;
}
  
.header img {
    max-height: 350px;
    max-width: 100%;
    object-fit:scale-down; /*Would like to change this in the future */
}

.headings {
    padding: 10px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    width: fit-content;
    max-width: 100%;
    position: relative;

    background: linear-gradient(9deg, #f78212 0%, #d77d85 30%, #372c92 100%);
    color: #fff;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    border-radius: 3px;
}

.list_item_wide {
    font-weight: normal;

    padding: 10px;
    display: block;
    margin: 10px auto 20px 0;

    width: fit-content;
    max-width: 100%;
    position: relative;

    border-left: 3px solid #e03428;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(250, 250, 250);
    box-shadow: 0px 1px 5px 0px rgba(131, 131, 131, 0.6);
}

.grid_list_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(200px, auto);
    margin-bottom: 50px;
}

.list_item_box {
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    
    padding: 30px 10px 30px 10px;

    margin: 10px 0 10px 0;
    height: 100%;
    
    border-top: 3px solid #e03428;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgb(250, 250, 250);
    box-shadow: 0px 1px 5px 0px rgba(131, 131, 131, 0.6);
}

.list_item_box_content {
    font-size: medium;
    font-weight: normal;
    text-align: left;

    padding: 20px;
    margin-top: 10px;

    background: #fff;
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.6);
    color: #111;
}

.list_item_wide:hover, .list_item_box:hover {box-shadow: 0px 1px 5px 0px rgba(131, 131, 131, 0.9);}

.tabcontent {position: relative;}

.nav_anchor {
    position: absolute;
    top: -90px;
}

#contact_info {text-align: center;}

.splash {
    background: #f1f1f1;
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.6);
}
  
.splash img {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Main column */
.main {
    flex: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    width: 60%;
}

/* Images */
.header_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 50%;

    padding: 20px;
}

.ribbon {
    text-align: center;
    position: relative;
    flex: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Links */
.link {
    /* Placement of the element */
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    
    /* Link Visuals */
    text-align: center;
    text-decoration: none;
    background: linear-gradient(0deg, rgb(250, 250, 250) 0%, #fff);
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.4);
    border: 1px solid silver;

    /* Link Dimensions and Constraints */
    height:100px;
    width: 300px;
    max-width: 100%;
    padding: 20px;
    border-radius: 50px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link:hover {
    background: #eee;
    color:black;
}

/* Footer */
.footer h2 {
    padding: 20px;

    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-small;
    color: #fff;
    
    background: linear-gradient(9deg, #f78212 0%, #d77d85 30%, #372c92 100%);
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.4);
}

/* Mobile styling (phones, tablets) */
@media screen
and (min-device-width: 320px)
and (max-device-width: 900px)
and (-webkit-min-device-pixel-ratio: 2) {
    h2 {font-size: 24px;}

    body {background: #fff;}

    .grid_list_container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        grid-auto-rows: minmax(100px, auto);
    }

    .list_item_box {
        font-size: large;
        margin: 10px 0 10px 0;
    }

    /* Images */
    .header_img {
        width: 100%;
        padding: 10px;
    }

    /* Main column */
    .main {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding: 0px;
        box-shadow: unset;
    }

    .ribbon {
        flex: 100%;
        height: 125px;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 10px;
    }
    
    /* Links */
    .link {
        /* Placement of the element */
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    
        /* Link Dimensions and Constraints */
        height:50px;
        width: 150px;
        max-width: 100%;
        padding: 10px;
    }
}
