
.form_heading, label {
    color: #111;
    font-family: Helvetica, Arial, sans-serif, sans-serif;
}

#top_heading {
    font-weight: bold;
}

.input_field {
    background: linear-gradient(0deg, rgb(250, 250, 250) 0%, #fff);
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.1);
    border: 1px solid silver;
    border-radius: 3px;
    font-family: Helvetica, Arial, sans-serif, sans-serif;

    margin-bottom: 10px;
    max-width: 100%;
}

input:hover, textarea:hover {
    border: 1px solid #333;
}

input:focus, textarea:focus {
    border: unset;
    outline: 1px solid #e03428;
}

.input_feedback_box {
    display: block;
    width:fit-content;
    max-width: 100%;
    padding: 5px;

    background-color: rgb(255, 245, 155);
    border: 1px solid rgb(255, 187, 128);
    border-radius: 5px;
}

.input_feedback_msg {
    font-style: italic;
    color: red;
}

#email_f {
    display: none;
}

#resume{
    border: unset;
    max-width: 100%;
}

textarea {
    resize: none;
    margin-top: 10px;
}

#submit {
    margin-top: 10px;
}
