
#kudos_title {
    text-align: center;
    font-family: Spectral, serif;
    font-size: 50px;
}

.remarks {
    text-align: center;
    color: green;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}
