
:root
{
    --ahpc-solid: #28baec;
    --ahpc-dark: #254186;
    --ahpc-indigo: #2a58ca;
    --white-transparent: rgba(255, 255, 255, 0.87);
    --standard-inset: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.4);
    --standard-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --small-gradient: linear-gradient(9deg, #28baec 0%, #254186 100%);
    --large-gradient: linear-gradient(315deg, #28baec 0%, #254186 100%);
    
    --mobile-main-width: 80%;
    --main-padding: 50px;
}

/* Fallback Font Settings */
@font-face {
    font-size: 20px;
    line-height: 1.6;
    word-spacing: -1.45px;
    letter-spacing: 0.25px;
    font-family: Verdana;
    src: local(Verdana);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', Verdana, sans-serif; 
    font-size: 20px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

p {
    margin-top: 0;
}

.no_display {
    display: none;
}

em {
    font-weight: bold;
}
  
a {
    color: var(--ahpc-dark);
}

a:hover, a:focus {
    color: var(--ahpc-indigo);
}

body {
    margin: 0;
    background: linear-gradient(0deg, rgba(250, 250, 250, 0.637) 0%, #fff);
}

/* Style the top navigation bar */
nav.top_navbar {
    overflow: auto;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
  
    background: linear-gradient(0deg, rgb(250, 250, 250) 0%, #fff);
    box-shadow: var(--standard-inset);
    border-top: 3px solid var(--ahpc-solid);
    
    z-index: 2;
}

/* Style the navigation bar links */
nav.top_navbar a {
    color: #000;
    border-right: 1px solid #ddd;
  
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  
    margin-top: auto;
    margin-bottom: auto;
}

nav.top_navbar a:focus-visible {
    outline: 2px solid var(--ahpc-solid);
    outline-offset: -2px;
}
  
nav.top_navbar img {
    padding: 0px;
    height: 40px;
    display: block;
    margin: 6px 2px 2px 6px;
    
    width: fit;
}
  
  /* Change color on hover */
nav.top_navbar a:hover,
nav.top_navbar a:focus {
    background-color: #eee;
    box-shadow: var(--standard-inset);
}
  
nav.top_navbar a > img #logo_icon {
    height: 400px;
    width: 400px;
    display: block;
    margin: 6px 2px 2px 6px;
    
}

header {
    padding: 50px;
    width: 100%;
    min-height: auto;
    max-height: 450px;
  
    text-align: center;
    background: var(--large-gradient);
    color: #333;
}
  
header img {
    display: block;
    height: auto;
    max-height: fit-content;
    max-width: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: var(--standard-box-shadow);
}

.headings {
    padding: 0.3em;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;

    width: fit-content;
    max-width: 100%;
    position: relative;

    background: var(--small-gradient);
    color: #fff;

    font-size: 32px;
    font-weight: 600;
    border-radius: 3px;
}

.list_item_box {
    position: relative;

    font-size: x-large;
    font-weight: bold;
    text-align: center;
    
    padding: 30px 10px 30px 10px;

    margin: 10px 0 10px 0;
    min-height: 100%;
    
    /* border-top: 3px solid var(--ahpc-solid); */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgb(250, 250, 250);
}

/* Pseudoelements for Optimzing Hover Animation */
.list_item_box::after,
.list_item_box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-width: 3px;
    border-top-style: solid;
}

/* List Item Box Shadow Start */
.list_item_box::before
{
    border-color: var(--ahpc-solid);
    opacity: 1;
    box-shadow: 0px 1px 5px 0px rgba(131, 131, 131, 0.6);

    transition: opacity 0ms;
}

.list_item_box:hover::before 
{
    opacity: 0;
}

/* List Item Box Shadow End */
.list_item_box::after
{
    border-color: var(--ahpc-dark);
    transform: scale(1.006);
    opacity: 0;
    box-shadow: 0px 1px 5px 0px rgba(131, 131, 131, 0.9);

    transition: opacity 300ms ease-in;
}

.list_item_box:hover::after 
{
    opacity: 1;
}

.list_item_box_content {
    font-size: medium;
    font-weight: normal;
    text-align: left;

    border-radius: 4px;
    padding: 20px;
    margin-top: 10px;

    background: #fff;
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.6);
    color: #111;
}

.tabcontent {position: relative;}

.nav_anchor {
    display: block;
    position: absolute;
    top: -90px;
    visibility: hidden;
}

/* Contact Section */
.contact_section { text-align: center }

.address_contact, .phone_contact { 
    text-decoration: none;
    color: #000;
}

.map_view {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 10px;
}

/* Splash Section */
.splash {
    background: #f1f1f1;
    box-shadow: inset 0px 1px 5px 0px rgba(131, 131, 131, 0.6);
    float: left;
    width: 100%;
    min-height: auto;
    max-height: fit-content;
    margin: 10px auto;
}
  
.splash img {
    display: block;
    object-fit: contain;
    max-width: 100%;
    height: fit-content;
    margin: 0 auto;
}

.tribute_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;

    max-width: 1000px;
    padding: 2em;
    margin: 0 auto;
    
    background: linear-gradient(315deg, #919191 0%, #101b36 100%);
    color: #fff;
    font-weight: bold;
    border-radius: 12px;
    height: fit-content;
}

.tribute_section img {
    display: flex;
    flex: 2 0 40%;
    column-gap: 40px;

    object-fit: contain;
    width: 100%;
    max-width: fit-content;
    height: auto;
    max-height: fit-content;
    padding: 0;

    box-shadow: var(--standard-box-shadow);
    border-radius: 10px;
}

.tribute_quote_container {
    display: flex;
    flex: 1 0 40%;
    flex-direction: column; 
    column-gap: 40px;
}

.tribute_section p, .tribute_section em { font-size: 24px }

.tribute_section em { 
    color: var(--ahpc-solid);
    font-style: normal;
}

/* Main column */
main {
    flex: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: var(--main-padding);
    box-shadow: var(--standard-box-shadow);

    width: 60%;
}

/* Images */
.header_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    width: 50%;

    padding: 20px;
}

/* Footer */
footer {
    padding: 20px;
    margin: 0;
    color: #000;
    background: var(--large-gradient);
    box-shadow: var(--standard-inset);
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.footer_column {
    align-items: stretch;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--white-transparent);
    box-shadow: var(--standard-inset);
}

.half_column {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

footer h3 {
    color: var(--ahpc-dark);
    font-size: 20px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

/* Overriding Bootstrap styling for given elements */
.footer_list li,
.footer_list li > *,
.contact_info address,
.footer_center > *,
.footer_center a {
    font-size: 16px;
    padding-top: 0.1em;
    padding-bottom: 0.4em;
}

.homepage_link .footer_list li {
    margin: 0.4em 0;
}

.homepage_link .footer_list li > a {
    border-bottom: 1px solid #7171718f;
}

.homepage_link .footer_list li > a:hover,
.homepage_link .footer_list li > a:focus {
    border-color: var(--ahpc-indigo);
}

footer .homepage_link,
footer .contact_info,
footer .social_media_links {
    display: flex;
    flex-direction: column;
}

footer .homepage_link {
    flex: 1 0 20%;
    align-items: center;
    text-align: center;
}

footer .contact_info {
    flex: 1 0 40%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
}

.contact_info address {
    margin: 0;
}

footer .social_media_links {
    text-align: center;
    flex: 1 0 20%;
}

.social_media_container {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

footer a {
    color: #000;
    width: fit-content;
    text-decoration: none;
}

ul.footer_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_center {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.footer_center > p {
    color: #fff;
    margin: 0;
}

.footer_center .footer_center_homepage {
    color: #fff;
}

/* Mobile styling (phones, tablets) */
@media screen
and (min-device-width: 320px)
and (max-device-width: 960px)
and (-webkit-min-device-pixel-ratio: 2) {
    h2 {font-size: 24px;}

    body {background: #fff;}

    ol, ul {padding-left: 0.8rem;}

    .grid_list_container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        grid-auto-rows: minmax(100px, auto);
    }

    .list_item_box {
        font-size: large;
        margin: 10px 0 10px 0;
    }

    /* Images */
    .header_img {
        width: 100%;
        padding: 10px;
    }

    /* Main column */
    main {
        margin-left: auto;
        margin-right: auto;
        width: var(--mobile-main-width);
        padding: 0;
        padding-bottom: var(--main-padding);
        box-shadow: unset;
    }

    footer .contact_info {
        flex-direction: column; 
        flex-basis: 40%;
    }
}
