
/* Importing Quicksand Font (400, 700) */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* Form Responses */
.question_container {
    margin-bottom: 2.2em;
}

.question_number {
    font-weight: bold;
}

.question_text {
    font-style: italic;
    margin-bottom: 10px;
}

.input_block {
    margin-left: 20px;
}

.option_input:checked {
    background-color: var(--ahpc-solid);
    border-color: var(--ahpc-solid);
}

.option_label {
    color: #333;
}

/* Term Tooltip Styling */
.term_tooltip {
    position: relative;
    
    /* Safari */
    -webkit-text-decoration-color: var(--ahpc-solid);
    -webkit-text-decoration-line: underline; 
    -webkit-text-decoration-style: dotted;
    -webkit-text-decoration-thickness: 3px;

    /* Default */
    text-decoration-color: var(--ahpc-solid);
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;

    text-decoration-skip-ink: none;
}

.term_tooltip::after,
.tooltip_notice.highlight::after {
    content: '*';
    color: var(--ahpc-solid);
    margin-left: -0.1em;
    /* Remove Underline */
    text-decoration: none;
    display: inline-block;
}

.tooltip_text::before {
    content: 'Definition';

    display: block;
    width: fit-content;
    margin-bottom: 0.3em;

    font-weight: bold;
    color: var(--ahpc-dark);
    border-bottom: 1px solid var(--ahpc-dark);
}

.term_tooltip .tooltip_text {
    --tooltip-width: 32ch;
    --tooltip-midpoint: calc(var(--tooltip-width) / 2);
    --tooltip-spacing: 0.5em;

    visibility: hidden;

    /* Text Styling */
    text-align: left;
    font-size: 15px;
    font-family: 'Quicksand', "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;

    /* Ornamental Styling */
    background-color: #fff;
    color: #000;
    box-shadow: var(--small-box-shadow);
    padding: var(--tooltip-spacing) calc(var(--tooltip-spacing) * 2) calc(var(--tooltip-spacing) * 2);

    /* Border Styling */
    --default-border: 1px solid #f1f1f1;
    border-top: var(--default-border);
    border-left: var(--default-border);
    border-right: var(--default-border);
    border-radius: var(--tooltip-spacing) var(--tooltip-spacing) 0 0;
    border-bottom: 2px solid var(--ahpc-solid);

    /* Positioning & Sizing */
    min-width: fit-content;
    width: var(--tooltip-width);
    bottom: 100%;
    left: calc(50% - var(--tooltip-midpoint));
    position: absolute;
    z-index: 1;
}

.term_tooltip .tooltip_text:hover, 
.term_tooltip .tooltip_text:focus { 
    visibility: visible 
}
.term_tooltip:hover .tooltip_text, 
.term_tooltip:focus .tooltip_text { 
    visibility: visible 
}

.term_tooltip:focus-visible { 
    outline: 2px solid var(--ahpc-solid); 
    outline-offset: 2px;
}

/* Progress Display Styling */
#progress_display_container {
    overflow: auto;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 1em;
    /* display: flex; */
    display: none;
    flex-direction: column;
  
    background-color: var(--white-transparent);
    box-shadow: var(--standard-inset);
    padding: 1em;
    border-radius: 1em;

    max-width: var(--max-form-width);
    margin: 0 auto;
    
    z-index: 1;
}

#progress_heading {
    font-size: 20px;
    font-weight: bold;
    color: var(--ahpc-dark);

    padding: 0.2em;
    width: fit-content;
    border-bottom: 2px solid var(--ahpc-dark);
    margin-bottom: 0.2em;
}

.tooltip_notice {
    font-size: 16px;
    margin-top: 0.3em;
    font-weight: normal;
}

.tooltip_notice.highlight {
    text-decoration: var(--ahpc-solid) dotted underline 3px;
    margin: 0 0.1em;
}

kbd {
    color: var(--ahpc-dark);
    background-color: transparent;
    border: 1px solid var(--ahpc-dark);
    margin: 0 0.1em;
}

.progress_indicators_container {
    display: flex;
    justify-content: space-between;
}

#progress_bar_container {
    width: 90%;
    height: 1em;
}

#progress_bar_svg {
    background: #f1f1f1;
    box-shadow: inset 0px 3px 7px 0px rgba(221, 221, 221, 0.7);
    border-radius: 0.5em;
    border: 1px solid #e0e0e0;
}

#progress_bar {
    fill: var(--ahpc-solid);
}

.progress_count_container {
    align-self: center;
}

/* Submit Button */
.submit_button {
    display: block;
    padding: 0.5em 1em;
    margin: 0.5em auto;
    width: 100%;

    color: var(--ahpc-solid);
    font-weight: bold;
    font-size: xx-large;

    background: #fff;
    font-weight: bold;
    padding: 0.3em 1em;
    border: 1px solid #f1f1f1;
    border-radius: .2em;
}

.submit_button:hover,
.submit_button:focus {
    border: 1px solid #e0e0e0;
    /* background-color: #fdfdfd; */
    color: var(--ahpc-dark);

    transition: 200ms ease-in;
}

.submit_button:active {
    /* border: 1px solid #333; */
    color: #333;
    transform: scale(0.99);

    transition: none;
}

/* Results Screen */
.results_container {
    background: #fff;
    box-shadow: var(--standard-inset);
    padding: 0.5em;
    border-radius: 1em;
    border: 1px solid #e0e0e0;
}

.result_msg_heading {
    display: block;
    width: fit-content;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    color: var(--ahpc-dark);
    border-bottom: 3px solid var(--ahpc-dark);
}

.result_msg {
    background-color: #fafafa;
    text-align: justify;
    text-align-last: left;
    box-shadow: var(--standard-inset);

    margin: 0.5em auto;
    padding: 1em;
    border: 1px solid #f1f1f1;
    border-radius: 0.5em;
}

button.start_new_assessment {
    display: block;
    color: var(--ahpc-solid);
    font-weight: bold;
    font-size: xx-large;
    background-color: #fff;
    
    margin: 0 auto;
    padding: 0.3em 0.75em;
    outline: none;
    border: 2px solid var(--ahpc-solid);
    border-radius: 0.2em;
}

.start_new_assessment:hover, 
.start_new_assessment:focus {
    color: var(--ahpc-dark);
    box-shadow: var(--small-box-shadow);
    border-color: var(--ahpc-dark);
    
    transition: 300ms ease-in;
}

.start_new_assessment:active {
    --sna-color: #333;

    color: var(--sna-color);
    transform: scale(0.99);
    box-shadow: var(--standard-inset);
    border-color: var(--sna-color);

    transition: none;
}

/* Mobile styling (phones, tablets) */
@media screen
and (min-device-width: 320px)
and (max-device-width: 960px)
and (-webkit-min-device-pixel-ratio: 2) {
    
    .term_tooltip .tooltip_text {
        left: calc(var(--mobile-main-width) - 100%);
        width: 100%;
        max-width: fit-content;
    }

    .result_msg,
    .result_msg ul > li,
    .result_msg ul > li > a {
        font-size: 16px;
        text-align: left;
    }
}

/* Mobile Landscape Mode */
@media only screen and (max-device-height: 480px) 
and (orientation: landscape) {

    #progress_display_container {
        bottom: 10px;
        flex-direction: column;
        padding: 0.8em;
        border-radius: 0.5em;
        max-width: var(--max-form-width);
    }

    #progress_heading {
        font-size: 16px;
        padding: 0;
        border-bottom: 2px solid var(--ahpc-dark);
        margin-bottom: 0;
    }

    .tooltip_notice {
        font-size: 14px;
    }

    .submit_button {
        min-height: 48px;
        font-size: smaller;
    }
}