
:root {
    --small-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    --max-form-width: 1024px;
    --start-button-scale: 0.0075;
    --caution: #fdefef;
}

/* Noscript Styling */
.noscript_error {
    /* font-weight: bold; */
    background-color: var(--caution);
}

.noscript_error_message > em {
    font-style: normal;
    text-decoration: underline;
}

.noscript_resource_direct {
    background-color: #fff;
    padding: 0.75em;
    margin: 0;
    border: 1px solid #f1f1f1;
    border-radius: 0.25em;
}

/* Form Styling */
#eligibility_assessment_form {
    max-width: calc(var(--max-form-width) * 0.8);
    margin: 0 auto 20px;
}

/* Form Start */
#form_start_container {
    padding: 0.5em;
    box-shadow: var(--standard-inset);
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 1em;
}

.privacy_disclosure,
.form_start_block,
.noscript_error {
    padding: 1em;
    box-shadow: var(--standard-inset);
    border: 1px solid #f1f1f1;
    border-radius: 0.5em;
}

.privacy_disclosure {
    margin-bottom: 0.5em;
    background-color: var(--caution);
}

.privacy_disclosure_text,
.privacy_disclosure_text > strong,
.privacy_disclosure_text > abbr,
.privacy_disclosure > ul > li,
.form-check-label,
.form-check-label > strong {
    font-size: 16px;
}

.privacy_disclosure_text {
    margin-bottom: 0.5em;
}

.privacy_disclosure_text > strong {
    color: var(--ahpc-dark)
}

.privacy_disclosure > ul > li {
    margin: 0 0 0.5em;
}

.form_start_block {
    background-color: #fafafa;
}

.terms_heading {
    display: block;
    color: var(--ahpc-dark);
    /* padding-left: 1.5em; */
    text-align: center;
}

#terms_checkbox:checked {
    background-color: var(--ahpc-solid);
    border-color: var(--ahpc-solid);
}

/* Disable clicking on label to toggle Checkbox */
label[for="terms_checkbox"] {
    pointer-events: none;
    cursor: default;
}

.start_button {
    --sb-color: var(--ahpc-solid);

    display: block;
    padding: 0.5em 1em;
    margin: 0.5em auto;

    color: var(--sb-color);
    font-weight: bold;
    font-size: xx-large;
    -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.562);
    -webkit-text-fill-color: var(--sb-color);
    text-shadow: -1px 1px rgba(0, 0, 0, 0.377);

    background-color: #fff;
    border-radius: 0.35em;
    border-width: 2px;
    border-style: solid;
    border-color: var(--sb-color);
}

.start_button:disabled,
.start_button:disabled:hover,
.start_button:disabled:focus,
.start_button:disabled:active {
    --sbd-color: #555;

    cursor: not-allowed;

    color: var(--sbd-color);
    -webkit-text-fill-color: var(--sbd-color);

    box-shadow: none;
    /* background-color: #fafafa; */
    background-color: transparent;
    border-color: var(--sbd-color);

    transform: none;
    transition: none;
}

.start_button:hover, 
.start_button:focus {
    --sbhf-color: var(--ahpc-dark);

    color: var(--sbhf-color);
    -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.562);
    -webkit-text-fill-color: var(--sbhf-color);
    text-shadow: -1px 1px rgba(0, 0, 0, 0.377);

    --hover-focus-scale: calc(1 + var(--start-button-scale));
    /* transform: scale(var(--hover-focus-scale)); */
    box-shadow: var(--small-box-shadow);
    border-color: var(--sbhf-color);
    
    transition: 300ms ease-in;
}

.start_button:active {
    --sba-color: #333;

    color: var(--sba-color);
    -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.562);
    -webkit-text-fill-color: var(--sba-color);
    text-shadow: -1px 1px rgba(0, 0, 0, 0.377);

    --active-scale-offset: calc(var(--start-button-scale) * 2);
    --active-scale: calc(1 - var(--active-scale-offset));
    transform: scale(var(--active-scale));
    box-shadow: var(--standard-inset);
    border-color: var(--sba-color);

    transition: none;
}

/* Mobile styling (phones, tablets) */
@media screen
and (min-device-width: 320px)
and (max-device-width: 960px)
and (-webkit-min-device-pixel-ratio: 2) {

    .start_button {
        font-size: x-large;
    }
}